<div class="friends">
<!--    <span>-->
<!--        <b>Enhancing the Xcode Simulators.</b> <br>-->
<!--        Compare designs, show rulers, add a grid, quick actions for recent builds. Create recordings with touches & audio, trim and export them into MP4 or GIF and share them anywhere using drag & drop. Add bezels to screenshots and videos. <a href="https://gumroad.com/a/931293139/ftvbh">Try now</a>-->
<!--    </span>-->

<!--<span>-->
<!--    <b>Build with Xcode, Ship with Helm. </b> <br>-->
<!--    The all-in-one macOS app that enhances App Store Connect, supercharging your app updates, localization, and ASO with AI-powered tools. <a href="https://gumroad.com/a/95873555/ymbbmh"> Save 25% and try now! </a>-->
<!--</span>-->

<span>
    <b>Free mobile payments SDK by Square</b> <br>
    Square’s new Mobile Payments SDK is free, and easy to embed—perfect for adding seamless in-app payments! <a href="https://fnf.dev/3FX0hBE">Try Now!</a>
</span>
</div>
