<!--<div class="ads">-->
<!--    <span>-->
<!--RevenueCat makes implementing in-app purchases, managing customers, and scaling your app business easy. Whether you're adding in-app purchases and subscriptions for the first time or already have millions of paying users, you can get up and running with RevenueCat in minutes. See why over 30,000 apps use RevenueCat to power their app businesses. <a href="https://www.revenuecat.com/docs?utm_source=swiftwithmajid&utm_medium=sponsorship&utm_campaign=dev">You can explore their docs to learn more. </a>-->
<!--    </span>-->
<!--</div>-->
