$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;
$gray-6: #111;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$black:#000;
$brown: #8f5536;
$swift: #ee9c51;

$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.7;

$body-color: $gray-2;
$body-bg: $gray-6;

$link-color: $swift;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, Monaco, "Courier New", monospace;
$code-color: $swift;
