<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <nav>
          <h1 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h1>
          <div>
            <a href="/categories" title="Categories">Categories</a>
            <a href="/archive" title="Archive">Archive</a>
            <a href="/feed.xml" title="Feed">Feed</a>
            <a href="http://weekly.swiftwithmajid.com" title="SwiftUI Weekly">SwiftUI Weekly</a>
            <a href="/sponsorship" title="Sponsorship">Sponsorship</a>
          </div>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
          {% avatar mecid size=100 %}
          <small>Hi there! My name is Majid.</small>
          <small>I'm Swift developer 👨🏻‍💻SwiftUI addicted 🚀</small>
          <small>Creator of <a href="https://cardiobot.swiftwithmajid.com">CardioBot</a>, <a href="https://napbot.swiftwithmajid.com">NapBot</a>, <a href="https://fastbot.swiftwithmajid.com">FastBot</a> and <a href="https://sugarbot.swiftwithmajid.com">SugarBot</a>.</small>
          <small>Feel free to follow me on <a href="https://twitter.com/mecid">Twitter</a> or <a href="https://github.com/mecid">Github</a>.</small>
        <small>
          Majid Jabrayilov &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>
  </body>
</html>
